# My Python Pandas Cheat Sheet

https://towardsdatascience.com/my-python-pandas-cheat-sheet-746b11e44368

## Contents:  
1) Setup  
2) Importing  
3) Exporting  
4) Viewing and Inspecting  
5) Selecting  
6) Adding / Dropping  
7) Combining  
8) Filtering  
9) Sorting  
10) Aggregating  
11) Cleaning  
12) Other  
13) Conclusion

### Data
- downloaded from https://www.kaggle.com/CooperUnion/anime-recommendations-database
- saved to data subfolder

In [1]:
anime_file = "./data/Anime-bundle/anime.csv"
rating_file = "./data/Anime-bundle/rating.csv"

### 1) Setup

In [2]:
import pandas as pd
import numpy as np

In [2]:
anime = pd.read_csv(anime_file)
rating = pd.read_csv(rating_file)

anime_modified = anime.set_index('name')

### 2) Importing

Above is normal.  Also options for excle files.  
or you can create dataframe directly:

In [3]:
df = pd.DataFrame([[1,'Bob', 'Builder'],
                  [2,'Sally', 'Baker'],
                  [3,'Scott', 'Candle Stick Maker']], 
columns=['id','name', 'occupation'])

In [4]:
df

   id   name          occupation
0   1    Bob             Builder
1   2  Sally               Baker
2   3  Scott  Candle Stick Maker

In [5]:
# Copy
anime_copy = anime.copy(deep=True)

In [6]:
anime_copy

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

### 3) Exporting

In [7]:
rating[:10].to_csv('./output/saved_ratings.csv', index=False)

In [9]:
rating[:10].to_excel("./output/saved_ratings.xlsx", index=False)

### 4) Viewing and Inspecting

In [11]:
anime.head(3)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262

In [12]:
rating.tail(1)

         user_id  anime_id  rating
7813736    73516      8074       9

In [13]:
# count
len(df)

3

In [15]:
len(rating['user_id'].unique())

73515

In [16]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
anime_id    12294 non-null int64
name        12294 non-null object
genre       12232 non-null object
type        12269 non-null object
episodes    12294 non-null object
rating      12064 non-null float64
members     12294 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [17]:
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [18]:
anime.type.value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

### 5) Selecting

In [25]:
# full list - just first 3
anime['genre'].tolist()[0:3]

['Drama, Romance, School, Supernatural',
 'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen']

In [21]:
anime['genre']

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [27]:
anime_modified.index.tolist()[0:3]

['Kimi no Na wa.', 'Fullmetal Alchemist: Brotherhood', 'Gintama°']

In [28]:
anime.columns.tolist()

['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members']

### 6) Adding / Dropping

In [30]:
#new column
anime['train set'] = True

In [31]:
#subset
anime[['name','episodes']]

                                                    name episodes
0                                         Kimi no Na wa.        1
1                       Fullmetal Alchemist: Brotherhood       64
2                                               Gintama°       51
3                                            Steins;Gate       24
4                                          Gintama&#039;       51
...                                                  ...      ...
12289       Toushindai My Lover: Minami tai Mecha-Minami        1
12290                                        Under World        1
12291                     Violence Gekiga David no Hoshi        4
12292  Violence Gekiga Shin David no Hoshi: Inma Dens...        1
12293                   Yasuji no Pornorama: Yacchimae!!        1

[12294 rows x 2 columns]

In [32]:
# drop specific columns 
anime.drop(['anime_id', 'genre', 'members'], axis=1).head()

                               name   type episodes  rating  train set
0                    Kimi no Na wa.  Movie        1    9.37       True
1  Fullmetal Alchemist: Brotherhood     TV       64    9.26       True
2                          Gintama°     TV       51    9.25       True
3                       Steins;Gate     TV       24    9.17       True
4                     Gintama&#039;     TV       51    9.16       True

In [33]:
# Add a row with sum of other rows
df = pd.DataFrame([[1,'Bob', 8000],
                  [2,'Sally', 9000],
                  [3,'Scott', 20]], columns=['id','name', 'power level'])
df

   id   name  power level
0   1    Bob         8000
1   2  Sally         9000
2   3  Scott           20

In [34]:
df.append(df.sum(axis=0), ignore_index=True)

   id           name  power level
0   1            Bob         8000
1   2          Sally         9000
2   3          Scott           20
3   6  BobSallyScott        17020

### 7) Combining

In [37]:
df1 = anime[0:2]
df1

,anime_id,name,genre,type,episodes,rating,members,train set
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,True
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,True

In [38]:
df2 = anime[2:4]
df2

,anime_id,name,genre,type,episodes,rating,members,train set
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,True
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,True

In [39]:
pd.concat([df1, df2], ignore_index=True)

,anime_id,name,genre,type,episodes,rating,members,train set
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,True
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,True
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,True
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,True

In [41]:
# Merge dataframes
rating.merge(anime, left_on='anime_id', right_on='anime_id', suffixes=('_left', '_right'))

,user_id,anime_id,rating_left,name,genre,type,episodes,rating_right,members,train set
0,1,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297,True
1,3,20,8,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297,True
2,5,20,6,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297,True
3,6,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297,True
4,10,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297,True
...,...,...,...,...,...,...,...,...,...,...
7813722,65682,30450,8,Dr. Slump: Hoyoyo! Arale no Himitsu Dai Koukai...,"Comedy, Sci-Fi, Shounen",Special,1,6.17,248,True
7813723,69497,33484,10,Shiroi Zou,"Action, Historical, Kids",Movie,1,4.71,45,True
7813724,70463,29481,-1,Kakinoki Mokkii,"Fantasy, Kids",Special,1,4.33,61,True
7813725,72404,34412,-1,Hashiri Hajimeta bakari no Kimi ni,Music,Music,1,6.76,239,True
7813726,72800,30738,4,Gamba: Gamba to Nakama-tachi,"Adventure, Kids",Movie,1,5.55,185,True

### 8) Filtering

In [42]:
# matching index values
anime_modified.loc[['Haikyuu!! Second Season','Gintama']]

,anime_id,genre,type,episodes,rating,members
name,,,,,,
Haikyuu!! Second Season,28891,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
Gintama,918,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376

In [43]:
# numbered index values
anime_modified.iloc[0:3]

,anime_id,genre,type,episodes,rating,members
name,,,,,,
Kimi no Na wa.,32281,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
Fullmetal Alchemist: Brotherhood,5114,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
Gintama°,28977,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262

In [44]:
# get rows
anime[anime['type'].isin(['TV', 'Movie'])]

,anime_id,name,genre,type,episodes,rating,members,train set
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,True
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,True
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,True
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,True
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,True
...,...,...,...,...,...,...,...,...
11738,3038,Senya Ichiya Monogatari,"Fantasy, Hentai",Movie,1,6.18,1394,True
11805,2755,Cleopatra,"Hentai, Historical",Movie,1,6.06,1709,True
12244,11141,Blue Seagull,"Action, Hentai",Movie,1,4.60,337,True
12258,20007,Hi Gekiga Ukiyoe Senya Ichiya,"Action, Hentai",Movie,1,1.92,129,True
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,True

In [45]:
# slice a dataframe
anime[1:3]

,anime_id,name,genre,type,episodes,rating,members,train set
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,True
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,True

In [46]:
# filter by value
anime[anime['rating'] > 8]

,anime_id,name,genre,type,episodes,rating,members,train set
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,True
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,True
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,True
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,True
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,True
...,...,...,...,...,...,...,...,...
10765,32230,Xi You Ji,"Adventure, Fantasy",TV,52,8.07,89,True
10786,26313,Yakusoku: Africa Mizu to Midori,"Drama, Kids",OVA,1,9.25,53,True
10793,28557,Yamete! Writer Asobi: Doubutsu Mura no Shoubou...,"Drama, Kids",OVA,1,8.67,40,True
10847,26097,Yume no Tsuzuki,"Drama, Kids",OVA,1,8.67,53,True
12251,33960,Chou Do M na Hentai Mesu-tachi Otokoton Chouky...,Hentai,OVA,Unknown,8.38,161,True

### 9) Sorting

In [47]:
anime.sort_values('rating', ascending=False)

,anime_id,name,genre,type,episodes,rating,members,train set
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13,True
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.60,47,True
9595,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62,True
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,True
9078,33607,Kahei no Umi,Historical,Movie,1,9.33,44,True
...,...,...,...,...,...,...,...,...
12274,34492,Nuki Doki! Tenshi to Akuma no Sakusei Battle -...,Hentai,OVA,Unknown,NaN,392,True
12279,34491,Sagurare Otome The Animation,Hentai,OVA,1,NaN,79,True
12280,34312,Saimin Class,Hentai,OVA,Unknown,NaN,240,True
12282,34388,Shikkoku no Shaga The Animation,Hentai,OVA,Unknown,NaN,195,True
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485,True

### 10) Aggregating

In [48]:
# Groupby and count
anime.groupby('type').count()

         anime_id  name  genre  episodes  rating  members  train set
type
Movie        2348  2348   2306      2348    2297     2348       2348
Music         488   488    488       488     488      488        488
ONA           659   659    655       659     652      659        659
OVA          3311  3311   3310      3311    3285     3311       3311
Special      1676  1676   1674      1676    1671     1676       1676
TV           3787  3787   3777      3787    3671     3787       3787

In [49]:
# Groupby and aggregate columns in different ways 
anime.groupby(["type"]).agg({
  "rating": "sum",
  "episodes": "count",
  "name": "last"
}).reset_index()

,type,rating,episodes,name
0,Movie,14512.58,2348,Yasuji no Pornorama: Yacchimae!!
1,Music,2727.43,488,Yuu no Mahou
2,ONA,3679.43,659,Docchi mo Maid
3,OVA,20942.60,3311,Violence Gekiga Shin David no Hoshi: Inma Dens...
4,Special,10900.77,1676,Junjou Shoujo Et Cetera Specials
5,TV,25338.34,3787,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou

In [50]:
# Create a pivot table

# prep - to be smaller ...
tmp_df = rating.copy()
tmp_df.sort_values('user_id', ascending=True, inplace=True)
tmp_df = tmp_df[tmp_df.user_id < 10] 
tmp_df = tmp_df[tmp_df.anime_id < 30]
tmp_df = tmp_df[tmp_df.rating != -1]

# atual pivot table  
pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum, fill_value=0)

anime_id  6   15  17  18  20  22  24
user_id
3          0   0   0   0   8   0   0
5          8   6   6   6   6   5   1
7          0   0   0   0   0   7   0

### 11) Cleaning

In [51]:
# Set NaN cells to some value
pivot = pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum)

pivot

anime_id   6    15   17   18   20   22   24
user_id
3         NaN  NaN  NaN  NaN  8.0  NaN  NaN
5         8.0  6.0  6.0  6.0  6.0  5.0  1.0
7         NaN  NaN  NaN  NaN  NaN  7.0  NaN

In [52]:
pivot.fillna(0)

anime_id   6    15   17   18   20   22   24
user_id
3         0.0  0.0  0.0  0.0  8.0  0.0  0.0
5         8.0  6.0  6.0  6.0  6.0  5.0  1.0
7         0.0  0.0  0.0  0.0  0.0  7.0  0.0

### 12) Other

In [54]:
# Sample a data frame
anime.sample(frac=0.25)

,anime_id,name,genre,type,episodes,rating,members,train set
11093,21305,Trick or Alice,Fantasy,OVA,Unknown,NaN,4481,True
4324,1848,Haou Taikei Ryuu Knight,"Action, Adventure, Fantasy, Mecha",TV,52,6.75,1591,True
901,1008,Ranma ½ Specials,"Comedy, Drama, Romance, Shounen",OVA,2,7.78,11084,True
988,1279,Taiyou no Ko Esteban,"Adventure, Historical, Sci-Fi",TV,39,7.74,5424,True
2739,31080,Anne Happy♪,"Comedy, School, Slice of Life",TV,12,7.17,32040,True
...,...,...,...,...,...,...,...,...
5524,2307,Lime-iro Senkitan: Nankoku Yume Roman,"Action, Comedy, Ecchi, Mecha",OVA,2,6.43,1869,True
10557,19991,Tobidase! Bacchiri,"Comedy, Kids, Mystery",TV,132,7.63,72,True
11043,34223,Mori no Yousei: Kinoko no Musume,"Fantasy, Music",TV,Unknown,NaN,149,True
9377,30099,Lao Fu Zi Zhi Xiao Shui Hu Chuan Qi,"Comedy, Seinen",Movie,1,6.15,60,True
5033,20539,Nameko-ke no Ichizoku,"Comedy, Slice of Life",OVA,13,6.57,439,True

In [55]:
# iterate  
for idx,row in anime[:2].iterrows():
    print(idx, row)

0 anime_id                                    32281
name                               Kimi no Na wa.
genre        Drama, Romance, School, Supernatural
type                                        Movie
episodes                                        1
rating                                       9.37
members                                    200630
train set                                    True
Name: 0, dtype: object
1 anime_id                                                  5114
name                          Fullmetal Alchemist: Brotherhood
genre        Action, Adventure, Drama, Fantasy, Magic, Mili...
type                                                        TV
episodes                                                    64
rating                                                    9.26
members                                                 793665
train set                                                 True
Name: 1, dtype: object

In [56]:
# Starting jupyter notebook
jupyter notebook — NotebookApp.iopub_data_rate_limit=1.0e10

SyntaxError: invalid syntax (<ipython-input-56-8f3a827745af>, line 2)

## Another set of tips

### 7 Pandas Functions That Will Reduce Your Data Manipulation Stress  
https://medium.com/analytics-vidhya/7-pandas-functions-to-reduce-your-data-manipulation-stress-25981e44cc7d

In [2]:
Did not do these yet ....

SyntaxError: invalid syntax (<ipython-input-2-4b86f31b2077>, line 1)

## Using Styles

In [3]:
df = pd.DataFrame({'A':np.linspace(1,8,8),
                   'B':np.random.random(8),
                   'C':np.random.randn(8),
                   'D':np.random.randn(8),
                   'E':np.random.randint(-5,5,8)})
df.iloc[[1,5],[1,3]] = np.nan
df

     A         B         C         D  E
0  1.0  0.347134 -0.136099 -0.630610 -2
1  2.0       NaN  0.974831       NaN  4
2  3.0  0.292457 -0.778866 -1.167323  1
3  4.0  0.909051 -1.232232 -0.914645 -3
4  5.0  0.560887 -0.899608 -1.068524  3
5  6.0       NaN  1.360905       NaN  2
6  7.0  0.958422  0.117939 -1.226899 -1
7  8.0  0.725140 -1.432966  0.149977 -2

In [4]:
# create a colring function
def color_negative_values(val):
  color = 'red' if val < 0 else 'black'
  return 'color: %s' % color

In [5]:
# and apply it
df.style.applymap(color_negative_values)

In [7]:
# create a "maximum" function
def color_max(s):
    is_max = s == s.max()
    return ['background-color: lightblue' if v else '' for v in    is_max]

In [8]:
# and apply - default columns
df.style.apply(color_max)

In [9]:
# but can do rows
df.style.apply(color_max, axis=1)

In [11]:
# chain these ...
df.style.applymap(color_negative_values).apply(color_max)

In [12]:
# or to subset
df.style.apply(color_max, subset=['B','C'])

In [13]:
# built-in styles
df.style.highlight_null(null_color='yellow')

In [15]:
# gradients - using seaborn
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
df.style.background_gradient(cmap=cm)

In [16]:
df.style.highlight_min(color='lightgreen', axis=1)

In [17]:
df.style.highlight_max()

In [18]:
# bars
df.style.bar(color='lightgreen')

In [19]:
df.style.bar(align='mid', color=['red', 'lightgreen'])