In [2]:
import pandas as pd
import sqlite3

#read the CSV
df = pd.read_csv('/Users/Rob/Projects/Notebooks/data/nyc_schools/sat_results.csv')
#connect to a database
conn = sqlite3.connect("banana.db") #if the db does not exist, this creates a Any_Database_Name.db file in the current directory
#store your table in the database:
df.to_sql('fruit', conn)
#read a SQL Query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM fruit'
df = pd.read_sql(sql_string, conn)

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:1201: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [3]:
#read a SQL Query out of your database and into a pandas dataframe
sql_string = 'SELECT * FROM fruit'
df = pd.read_sql(sql_string, conn)
df

,index,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,21,02M376,NYC ISCHOOL,92,473,483,479
22,22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
24,24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
26,26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...,...
448,448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384,409,361
463,463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s
469,469,75M035,P.S. 035,s,s,s,s
470,470,75Q256,P.S. Q256,s,s,s,s
471,471,75Q811,P.S. Q811,32,429,444,433
472,472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s
473,473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,477,79X490,PHOENIX ACADEMY,9,367,370,360

In [5]:
sql_string = 'SELECT count(*) FROM fruit'
df = pd.read_sql(sql_string, conn)
df

   count(*)
0       478

In [6]:
sql_string = 'SELECT "SCHOOL NAME", "Num of SAT Test Takers" FROM fruit where "Num of SAT Test Takers" = 60'
df = pd.read_sql(sql_string, conn)
df

                                   SCHOOL NAME Num of SAT Test Takers
0                    GRAMERCY ARTS HIGH SCHOOL                     60
1             CITY COLLEGE ACADEMY OF THE ARTS                     60
2                     ASTOR COLLEGIATE ACADEMY                     60
3             ACADEMY OF INNOVATIVE TECHNOLOGY                     60
4  BROOKLYN COLLEGIATE: A COLLEGE BOARD SCHOOL                     60